.activate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.popup {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.success-icon {
    color: green;
}

.error-icon {
    color: red;
}

h2 {
    color: #333;
    margin: 10px 0;
}

p {
    color: #555;
}

.popup-button {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.popup-button:hover {
    background-color: #3700b3;
}

.loading-message {
    text-align: center;
}
